<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<div class="container text-center">
  <h1>
    This website will help you generate passwords based on your preferences.
  </h1>

  <p>You can generate passwords by length.</p>
  <p>
    You can choose the contents of these passwords as you prefer. Including:
  </p>
  <ul>
    <li>Uppercase</li>
    <li>Numbers</li>
    <li>Special Characters</li>
  </ul>
  <a href="{% url 'home' %}" class="btn btn-success">Go Home</a>
</div>
